.half-width{
    width: 38%;
    margin: 4%;
    padding: 2%;
    float: left;
    height:100%;
}
.half-width img{
    width:100%;
}
.top-font{
    font-size:50px;
    font-weight:900;
    text-shadow:0 4px 4px rgb(161, 156, 156);
}
.top-highlight{
    color: rgba(54, 57, 88, 1);
}
.name-highlight{
    color: rgba(255, 131, 103, 1)
}
.other-highlight{
    color: rgba(54, 57, 88, 1);
    font-size: 40px;
    font-weight: 700;
}
body{
    font-family: 'Roboto', sans-serif;
    margin:0;
    background-image: linear-gradient(90deg,rgb(219, 236, 204),rgb(234, 241, 241),rgb(219, 236, 204));
}
.button{
    color: white;
    padding: 15px 30px;
    background-image: linear-gradient(45deg,rgba(255, 128, 99, 1), tomato, rgba(255, 128, 99, 1));
    text-decoration: none;
    font-weight: 700;
    border-radius: 7px;
}
section{
    height:400px;
    padding-bottom: 150px;
}
.one-third-width{
    width: 23%;
    margin: 4%;
    padding: 1%;
    float: left;
    box-shadow: 10px 10px 20px gray;
    border-radius: 10px;
    background-color: white;
    height: 300px;
}
.one-third-width img{
    width: 100%;
    
}
#intro-background{
    background-image: url(images/rainbow-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}
#about-background{
    background-image: url(images/circle-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}
#projects-background{
    background-color: whitesmoke;
    border-radius: 20px;
    background-image: url(images/red-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}
.inquiry-background{
    background-image: url(images/inquiry-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 10% 12%;
    padding: 5% 6%;
    border-radius: 20px;
    color:white;
    font-weight: 900;
    background-size: cover;
    background-position: center center;
}
.alignleft{
    float:left;
}
.alignright{
    float:right;
    background-position: center center;
}
p{
    text-align: justify;
    text-justify: inter-word;
}
#stay-connected{
    color:gray;
    font-weight:900;
    font-size: 20px;
    text-align: center;
}
.icon-size{
    height:35px;
    width:35px;
    padding:7px;
}
.white-background{
    background-color: white;
    border-radius: 30px;
}
h3{
    color: rgba(54, 57, 88, 1);
}