.half-width{
    width: 40%;
    margin: 4%;
    padding: 1%;
    float: left;
}
.top-font{
    font-size:50px;
    font-weight:900;
    text-shadow:0 4px 4px rgb(161, 156, 156);
}
.top-highlight{
    color: rgba(54, 57, 88, 1);
}
.name-highlight{
    color: rgba(255, 131, 103, 1)
}
.other-highlight{
    color: rgba(54, 57, 88, 1);
    font-size: 30px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.button{
    color: white;
    padding: 15px 30px;
    background-image: linear-gradient(45deg,rgba(255, 128, 99, 1), tomato, rgba(255, 128, 99, 1));
    text-decoration: none;
    font-weight: 700;
    border-radius: 7px;
}
section{
    height: 400px;
    padding-bottom: 200px;
}
.one-third-width{
    width: 23%;
    margin: 4%;
    padding: 1%;
    float: left;
    box-shadow: 10px 10px 20px gray;
    border-radius: 10px;
    background-color: white;
}
.one-third-width img{
    width: 100%;
}
#projects-background{
    background-color: whitesmoke;
    border-radius: 20px;
}
.inquiry-background{
    background-image: url(images/inquiry-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 100px 200px;
    padding: 40px 50px;
    border-radius: 10px;
    color:white;
    font-weight: 900;
    background-size: cover;
    background-position: center center;
}
.alignleft{
    float:left;
}
.alignright{
    float:right;
    
}